.page-header {
  background-color: var(--ll-blue);
  margin: auto;
  margin-bottom: 5vh;
  margin-top: 5vh;
  border-radius: 25px;
  width: 85vw;
  height: 15vh;
  display: flex;
  justify-content: center;
}

.header {
  color: var(--dd-blue);
  font-size: xx-large;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  background-color: var(--md-blue);
  border-radius: 25px;
  width: 40vw;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--ll-blue);
}

.card :hover {
  color: var(--gld);
}

@media only screen and (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }

  .card {
    width: 90vw;
    height: 10vh;
    margin: 1vh
  }
}