.page-header {
  background-color: var(--ll-blue);
  margin: auto;
  margin-bottom: 5vh;
  margin-top: 5vh;
  border-radius: 25px;
  width: 85vw;
  height: 120px;
  display: flex;
  justify-content: center;
}

.header {
  color: var(--dd-blue);
  font-size: xx-large;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  background-color: var(--md-blue);
  border-radius: 25px;
  width: 45vw;
  height: 100px;
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--ll-blue);
}

.card :hover {
  color: var(--gld);
}

.scrollable-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  column-gap: 5vw;
  row-gap: 20px;
  grid-auto-flow: dense;
  height: 60vh; 
  width: 95vw;
  overflow-y: auto; 
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }

  .card {
    width: 85vw;
    height: 100px;
    margin: 1vh
  }

  .scrollable-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media only screen and (max-height: 600px) {
  .scrollable-cards {
    height: 40vh
  }
}