html {
    box-sizing: border-box;
  }
  
  *, 
  *::before, 
  *::after {
    box-sizing: inherit;
  }
  

  :root {
    font-size: 62.5%;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    min-height: 100vh;
    --nav-bg: rgba(104, 197, 248, 0.7);
    --nav-bg-ff: rgba(104, 197, 248, 0.9);
    --borders: rgb(36, 116, 248) solid 2px;
    --text-color: rgb(17, 20, 17);
    --link-hover-color: rgb(16, 56, 158);
    --button-bg: #cee5f2;
    --button-bg-hover: rgb(226, 226, 226);
    --submit: rgb(26, 128, 0);
    --warn: rgb(255, 102, 0);
    --danger: rgb(220, 20, 30);
    --secondary: rgb(57, 57, 57);
    --card-box-shadow: 5px 5px 6px -1px #aaa;
    --font-xtreme: 4.2rem;
    --font-xxl: 3.6rem;
    --font-xl: 2.4rem;
    --font-l: 1.8rem;
    --font-reg: 1.6rem;
    --card-border-radius: 6px;
  }