{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/reflections/reflection-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="reflection-container">
  <div class="reflection-details">
    <h1>{{ reflection.name }}</h1>
    <h3>{{ reflection.date }}</h3>
    <p>{{ reflection.description }}</p>
    <div class='relfection-actions'>
        <a href='{% url 'reflection-update' reflection.id %}'class='btn warn'>Edit</a>
        <a href='{% url 'reflection-delete' reflection.id %}'class='btn danger'>Delete</a>
  </div>
</section>
<div class='image-container'>
  <ul>
    {% for url in reflection.media %}
      <li>
        <img src="{{ url }}" alt="{{reflection.name}}" class='reflection-img'>
      </li>
    {% endfor %}
  </ul>
</div>
<div class='response-container'>
  <section class='responses'>
    <div class='subsection-title'>
      <h3>Responses</h3>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Reaction</th>
            <th>Response</th>
          </tr>
        </thead>
        <tbody>
          {% for response in reflection.response_set.all %}
            <tr>
              <td>{{response.user}}</td>
              <td>
                {% if response.reaction == 'L' %}
                    ❤️
                {% elif response.reaction == 'H' %}
                    😊
                {% elif response.reaction == 'S' %}
                    😢
                {% elif response.reaction == 'C' %}
                    🤗
                {% else %}
                    ❓
                {% endif %}
            </td>
              <td>{{response.comment}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Add a Response</h2>
      <form 
        action='{% url "add-response" reflection.id %}' 
        method='post' 
        class='subsection-content' 
        autocomplete='off'
      >
        {% csrf_token %}
        {{ response_form.as_p }}
        <button type='submit' class='btn submit'>Add Response</button>
      </form>
    </section>
  </div>

{% endblock %}
